# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea._Scripts.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\habbababbai\Desktop\Unity\[tmp[ SpriteAnimController\Assets\_Scripts\.idea\.idea._Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
